* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --basic-black: #000;
    --basic-dark: rgb(50, 50, 50);
    --basic-white: #fff;
    --basic-gray: rgb(132, 132, 132);
    --hover-key: #0f23d783;
    --lignth-shadown-form: #0f23d769;
    --light-black: rgba(0, 0, 0, 0.443);
    --promo-yellow: rgb(255, 242, 1);
    --form-grey: rgba(60, 60, 60, 0.6);
    --form-lightgrey: rgba(234, 234, 234, 0.342);
    --basic-red: rgb(161, 6, 6);
    --basic-green: rgb(12, 151, 21);
    --slider-lightgray: rgba(149, 143, 143, 0.27);
}

img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

body {
    min-width: 1440px;
    font-family: 'Source Sans Pro', sans-serif;
    min-height: 100%;
    font-weight: 400;
    background: linear-gradient(to right, #f2f2f2c7 71%, #2b2b2b4d 100%) fixed;
    background-size: 100%;
    font-size: 24px;
    line-height: 24px;
    color: var(--basic-black);
    opacity: 0;
    animation: ani .5s forwards;
}

@keyframes ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.clear {
    list-style: none;
    text-decoration: none;
    color: var(--basic-black);
}


/* HEADER STYLES */

.header {
    padding: 1.5rem 0;
}

.menu__login {
    color: var(--basic-black);
    padding-top: 5px;
}

.menu__login {
    color: var(--basic-black);
}

.menu__login:hover,
.item__link:hover {
    color: var(--hover-key);
    transition: .5s;
    border-bottom: 1px solid var(--hover-key);
}

.menu {
    display: grid;
    grid-template-columns: 10rem 1fr min-content;
    align-items: center;
}

.menu__logo {
    font-size: 1.5rem;
    line-height: 1.2rem;
}

.list {
    display: flex;
    margin: 0 auto;
}

.header .item {
    margin-right: 5rem;
}


/* MAIN STYLES */

.main__container {
    background: no-repeat center/100% url("../image/worker-doing-gate-by-electric-steel-cutter-machine.jpg");
    z-index: 1;
}

.dark-background {
    background-color: var(--light-black);
    margin: 0 auto;
    border-radius: 1rem;
    padding: 5rem;
}

.container__block_color {
    width: 1300px;
    margin: .5rem auto 5rem;
    border-radius: 1rem;
}

.block {
    color: var(--basic-white);
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    min-height: 400px;
}

.button {
    display: inline-block;
    background: var(--basic-white);
    border-radius: 1.2rem;
    padding: .9rem 4rem;
    border: 0;
}

.button:hover {
    background: var(--basic-black);
    color: var(--basic-white);
    transition: .5s;
}

.title {
    font-size: 2.8rem;
}

.text {
    font-size: 1.2rem;
}

.block1 {
    text-align: center;
    margin-bottom: 5rem;
}

.block1__border {
    display: inline-block;
    height: 5px;
    border-bottom: 1px solid var(--basic-gray);
    width: 300px;
    margin-bottom: 2rem;
}

.block__padding {
    margin-bottom: 2rem;
}

.main__grey {
    background-color: var(--basic-white);
    margin-bottom: 5rem;
}

.programm-block {
    padding: 2rem 0;
    color: var(--basic-black);
}

.programm__item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    align-content: space-between;
}

.programm__item dd {
    text-align: center;
}

.programm__item dt {
    margin-left: 2rem;
}

.programm__item dt::before {
    content: " — ";
    color: var(--hover-key);
}

.programm h2 {
    padding-left: 35px;
    margin-bottom: 1rem;
    font-weight: 600;
    font-size: 2rem;
}

.programm__item {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid var(--slider-lightgray);
}

.features__quote {
    display: inline-block;
    padding-top: 2rem;
    text-align: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.features__item,
.features__quote {
    margin-bottom: 2rem;
    line-height: 1.5rem;
}

.features__item:last-child {
    margin: 0;
}

.features {
    margin-bottom: 5rem;
}

.features__item::before {
    content: "✔";
    color: var(--hover-key);
    margin-right: .8rem;
}

.main__black {
    background-color: var(--basic-black);
    color: var(--basic-white);
    padding: 2rem;
    margin-bottom: 5rem;
}

.block2__list {
    color: var(--basic-white);
}

.list__middle_item {
    padding: 1.5rem 0;
}

.list__middle {
    display: grid;
    grid-template-columns: min-content repeat(2, 1fr);
    gap: .8rem;
    align-items: center;
}

.list__middle_span {
    grid-column: 1/4;
    text-align: center;
}

.main__black .material-symbols-outlined {
    color: var(--promo-yellow);
}

.list__middle_span::before,
.list__middle_span::after {
    content: "—";
    padding: 0 1rem;
    color: var(--promo-yellow);
}

.feedback {
    margin-bottom: 5rem;
}

.form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 3rem;
    gap: 1rem;
    text-align: center;
    margin: 0;
}

input[type=text],
input[type=email],
input[type=tel] {
    padding: 1rem;
    border-radius: .9rem;
    border: none;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 100%;
}

.form__number {
    grid-column: 1/5
}

.block__name {
    grid-column: 1/3;
}

.block__email {
    grid-column: 3/5;
}

textarea {
    min-width: 100%;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    padding: 1rem;
    border-radius: .9rem;
    border: none;
    height: 10rem;
    resize: none;
}

.textarea__block {
    grid-column: 1/5;
}

fieldset {
    padding: 2rem;
    border-radius: 1.2rem;
    border: none;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    border: 1px solid var(--basic-black);
}

.form__button-submit,
.form__checked {
    grid-column: 2/4;
}

.form__checked label {
    font-size: .7rem;
}

input[type="submit"] {
    padding: 0.9rem;
    border-radius: .9rem;
    border: none;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    width: 100%;
    background: var(--basic-white);
    color: var(--form-grey);
}

input[type="submit"]:hover {
    background-color: var(--basic-black);
    color: var(--basic-white);
    transition: .5s;
}

input:hover,
textarea:hover {
    transition: .5s;
    background-color: var(--form-lightgrey);
    box-shadow: 0 0 20px 2px var(--lignth-shadown-form);
}

input::placeholder,
textarea::placeholder {
    font-family: 'Source Sans Pro', sans-serif;
}

.teacher {
    text-align: center;
    margin-bottom: 4rem;
}

.teacher h2 {
    margin-bottom: 1rem;
}

.teacher .m::before {
    content: "M";
    font-size: 3rem;
    color: var(--hover-key);
}

.container-position {
    margin-bottom: 5rem;
}


/* SLIDER */

.slider__block {
    width: 350px;
    min-height: 400px;
    background-color: var(--form-lightgrey);
    padding: 1rem;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.114);
    margin: 10px .5rem;
}

.slider__block:hover {
    background: var(--lignth-shadown-form);
}

.slider__block-info {
    display: grid;
    grid-template-columns: repeat(2, min-content);
    justify-content: space-between;
    justify-items: center;
}

.slider__block img {
    margin-bottom: 1rem;
}

.slider__block-info span {
    color: var(--basic-dark);
    font-size: .9rem;
    font-style: italic;
}

.slider__block-info p {
    color: var(--basic-dark);
    font-size: 1.1rem;
    font-weight: 300;
}


/* gallery */

.container__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.gallery__block {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.gallery__big-photo {
    width: 600px;
    height: 600px;
    background: var(--basic-white);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.114);
    grid-column: span 3;
    background-image: url("https://img.freepik.com/free-photo/front-view-of-woman-with-welding-tool_23-2148813366.jpg?w=1380&t=st=1653396119~exp=1653396719~hmac=f9db0bda98020ada7b9db85991a3285065c5b37fbc81a66697ed88b726796488");
    background-size: cover;
    cursor: pointer;
}

.gallery__little-photo {
    width: 100%;
    height: 185px;
    background: var(--basic-white);
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.114);
    background-size: cover;
    cursor: pointer;
}

.photo-1 {
    background-image: url("https://img.freepik.com/free-photo/professional-industrial-welder-welding-metal-parts-in-metalworking-factory_342744-519.jpg?t=st=1653396432~exp=1653397032~hmac=45b4f6e957835f0265116827f500a7c9713a19faecf51452ed953c72d09320d6&w=1800");
}

.photo-2 {
    background-image: url("https://img.freepik.com/free-photo/a-man-in-a-welding-mask-robotic-clothes-and-gloves-holding-a-wire-with-a-welding-electrode_89381-4267.jpg?w=1480");
}

.photo-3 {
    background-image: url("https://img.freepik.com/free-photo/man-in-glasses-and-helmet-looking-at-plasma-cuttingv_7502-4471.jpg?t=st=1653396432~exp=1653397032~hmac=b6e7af8e8dadfe0ec81287cac6dcf6b23004bfd7bcffe640c8c7adabb2e45533&w=1800");
}

.gallery__block__text p {
    margin-bottom: 2rem;
    line-height: 1.35rem;
}

.gallery__block__text .likes__block {
    text-align: center;
}

.likes__block span {
    margin-left: 1rem;
}

.likes__block span:first-child:hover {
    color: var(--basic-green);
    cursor: pointer;
}

.likes__block span:last-child:hover {
    color: var(--basic-red);
    cursor: pointer;
}

.promo-text {
    font-size: 2rem;
}

.job-offer {
    margin-bottom: 5rem;
    line-height: 1.5rem;
}

.job-offer h2 {
    text-align: center;
}

.job-offer__block p {
    margin: 2rem;
}

.container__job {
    margin-bottom: 5rem;
}

.partner__block {
    background: var(--basic-white);
    margin-bottom: 10px;
    box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.114);
    padding: 80px;
    margin: .5rem .4rem;
    background: url("../image/partner-logo-1.png") no-repeat center;
}

.partner__block:hover {
    cursor: pointer;
    background-color: var(--slider-lightgray);
}

.partner-title h2 {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 400;
}

.logo2 {
    background: url("../image/partner-logo-2.png") no-repeat center;
}

.logo3 {
    background: url("../image/partner-logo-3.png") no-repeat center;
}

.logo4 {
    background: url("../image/partner-logo-4.png") no-repeat center;
}

.study-life {
    text-align: center;
}

.study-life h2 {
    margin-bottom: 2rem;
}

.study-life p {
    line-height: 1.5rem;
    margin-bottom: 5rem;
}

.container .study-jump {
    margin: 0;
    margin-bottom: 2rem;
}

.element-animation {
    opacity: 0;
}

.element-animation.element-show {
    opacity: 1;
    transition: all 1.5s;
    transform: translateY(0%);
}

.idea-style {
    color: var(--hover-key);
}
